<div id="box1">
    <!-- <img style="float:left;margin-left:3vw;margin-top:2vh;" width="75vw" height="36vh" src="../../assets/Images/KORE.png" alt="" srcset=""><br>
    <img style="border-radius: 100%; margin-right: -10vw;   " width="210vw" height="210vw" src="../../assets/Images/box1.png" alt="">  -->
    <h1>Hello to box1</h1><br>
     <h2>Anything can be added here</h2>
     <h3>You just need to write the code</h3>
    <input (click)="clickMe()" class="button" type="button" value="Click">
</div>   