*{
    outline: none;
    margin-top: 0px;
    text-align: center;
}
h1{
    padding-top: 10px;
}
form{
    width: 100%;
    color: white;
    height: 100vh;
    background-image: url("../../assets/Images/pexels-pixabay-36717.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#form1{
    
    margin-top: 200px;
    
}
.formdiv{
    padding: 3px;
}
button{
    color: white;
    background-color: blue;
    border: none;
    padding: 4px 20px 4px 20px ;
    border-radius: 20px;
    margin-top: 20px;
}
input{
    border-top: 22px;
    border-top-color: blue;
    border-left: 2px;
    border-right: 2px;
    outline: none;
}