.container {
    margin-left: 36.5vw;
    text-align: center;
}
p{
    margin-left: 15vw;
}

.box {
    overflow: hidden;
    text-align: center;
    background-image: url(../../assets/Images/pexels-pixabay-355465.jpg);
    color: white;
    filter: blur(100%);
    background-size: contain;
    backdrop-filter: blur(100%);
    width: 22vw;
    height: 40vh;
    margin: 10px;
    border-radius: 20%;
    padding: 2%;
}
.h1{
    color:white;
    margin-top: 9vh;
    font-size: 300%;
}
#h{
    color: black;
    font-size: 400%;
}
p{
    width: 70vw;
    justify-content: center;
    justify-items: center;
    text-align: justify ;
}